[Unit]
Description=TM16xx Display Service

[Service]
ConditionPathIsDirectory=/sys/class/leds/display
ExecStart=/usr/sbin/display-service
ExecStop=/bin/kill -s SIGTERM $MAINPID
Restart=always
User=root
Type=simple

[Install]
WantedBy=basic.target
